<div id="contentMail">
    <!--Formulario de usuario-->
    <div class="container">
        <div class="row">
            <div class="col-6" id="mailBox">
                <div class="row d-flex justify-content-center mt-2">
                    <div class="col-5">
                        <p class="titulo">Enviar un correo</p>
                    </div>
                </div>
                <form (ngSubmit)="onSubmit()" [formGroup]="mailForm">
                    <div class="row d-flex justify-content-center mt-4">
                        <!--Input del receptor-->
                        <div class="col-10">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="recipient">Recipiente</label>
                                <input type="email" id="recipient" name="recipient" class="form-control"
                                formControlName="recipient" placeholder="uncorreo@gmail.com"/>
                                <div *ngIf="mailForm.get('recipient')?.touched && mailForm.get('recipient')?.errors?.['required']" class="alert alert-danger">El correo del recipiente es obligatorio.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <!--Input de asunto-->
                        <div class="col-10">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="subject">Asunto</label>
                                <input type="text" id="subject" name="subject" class="form-control"
                                formControlName="subject" placeholder="Ej: 'Nuevo contrato'" />
                                <div *ngIf="mailForm.get('subject')?.touched && mailForm.get('subject')?.errors?.['required']" class="alert alert-danger">El asunto del correo es obligatorio</div>
                            </div>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center">
                        <!--Input de mensaje-->
                        <div class="col-10">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="message">Mensaje</label>
                                <textarea class="form-control" id="message" name="message" rows="5"
                                formControlName="message" placeholder="Ej: 'Le informo que he subido un nuevo contrato al servidor.'"></textarea>
                                <div *ngIf="mailForm.get('message')?.touched && mailForm.get('message')?.errors?.['required']" class="alert alert-danger">El cuerpo del correo es obligatorio.</div>
                            </div>
                        </div>
                    </div>
                    <!--Botón de mandar correo-->
                    <div class="row d-flex justify-content-center mt-4 mb-4">
                        <div class="col-3">
                            <button type="submit" [disabled]="mailForm.invalid" class="btn btn-info btn-lg">Enviar mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>