 <section class="background-radial-gradient overflow-hidden min-vh-100 d-flex flex-column">
  <div class="container-fluid px-4 py-5 text-center text-lg-start my-5">
    <div class="row vh-100">
      <div class="col-md-1" id="columna">
        <a class="card btn mt-3 d-flex align-items-center" href="archivos">
          <img src="../../../assets/icon/carpeta-abierta.png" class="card-img-top mt-3" alt="Carpeta width">
          <div class="card-body">
            <h5 class="card-title">{{ 'archivos' | translate}}</h5>
          </div>
        </a>

        <a class="card btn mt-3 mb-3 d-flex align-items-center" href="mail">
          <img src="../../../assets/icon/email.png" class="card-img-top mt-3" alt="Bandeja de entrada">
          <div class="card-body">
            <h5 class="card-title">{{'Correo' | translate}}</h5>
          </div>
        </a>
      </div>

      <div class="col-md-11" id="contenido">
        <div class="card mt-3">
          <div class="card-body">
            <h2 class="card-title">{{'buscador'}}</h2>
            <div class="input-group mb-3">
              <input [(ngModel)]="searchTerm" type="search" class="form-control" placeholder="{{'file-section.b-placeholder' | translate}}" aria-label="Buscar archivos">
              <button (click)="searchFiles()" class="btn btn-outline-secondary" type="button">{{'file-section.buscar' | translate}}</button>
            </div>
          </div>
        </div>

        <div class="card mt-3 mb-3">
          <div class="card-body">
            <h2 class="card-title">{{'file-section.arc-doc' | translate}}</h2>
            <!-- Formulario para subir archivos -->
            <form (ngSubmit)="uploadFile()" #fileForm="ngForm" class="mt-3">
              <div class="mb-3">
                <label for="archivo" class="form-label">{{'file-section.selec-arc' | translate}}</label>
                <input type="file" [(ngModel)]="file" name="file" id="archivo" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary mr-5">{{'file-section.sub' | translate}}</button>
              <!-- Botón para crear una carpeta -->
              <button class="btn btn-success mr-3" (click)="createFolder()">{{'file-section.cre' | translate}}</button>
              <button class="btn btn-danger" *ngIf="isInFolder" (click)="deleteFolder()">{{'file-section.eli' | translate}}</button>
            </form>
            <div>
              <h3>{{'file-section.ruta' | translate}}: {{ currentDirectory }}</h3>
            </div>
            <!-- Lista de archivos disponibles para descargar -->
            <div class="card mt-3">
              <div class="card-body">
                <ng-container *ngFor="let uploadedFile of uploadedFiles">
                  <div class="d-flex justify-content-between align-items-center">
                    <span *ngIf="uploadedFile.isDirectory; else fileTemplate" (click)="openFolder(uploadedFile)" style="cursor: pointer;">
                      <img src="../../../assets/icon/folder.svg" class="icon" alt="Carpeta">
                      {{ uploadedFile.name }}
                    </span>
                    <ng-template #fileTemplate>
                      <div>
                        <img src="../../../assets/icon/document.svg" class="icon" alt="Archivo">
                        {{ uploadedFile.name }}
                      </div>
                      <div>
                        <a *ngIf="!uploadedFile.isDirectory" (click)="downloadFile(uploadedFile.name)" class="btn btn-primary m-3">{{'file-section.descargar' | translate}}</a>
                        <a *ngIf="!uploadedFile.isDirectory" (click)="deleteFile(uploadedFile.name)" class="btn btn-danger m-3">{{'file-section.eliminar' | translate}}</a>
                      </div>
                    </ng-template>
                  </div>
                  <hr>
                </ng-container>
                <button *ngIf="folderHistory.length > 0" class="btn btn-secondary mt-3" (click)="goBack()">{{'file-section.volver' | translate}}r</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>
