section{
  background-color: #EFC88B;
}

span{
color: black;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
width: 100%;
}

#fondoImg, #card{
border: 2.5px solid white;
border-radius: 2px;
}
#card{
background-color: #BBDEF0;
}

.blue{
color: #00a6a6;
}


body{
    width: 100%;
}
#columna {
    background-color: #EFC88B;
}

#contenido {
    background-color: #F4E3B2;
}
.archivos {
    background-color: white;
}
#columna img {
    width: 50px;
    height: auto;
}
/* Ajustes para dispositivos móviles */
@media (max-width: 767px) {
    #columna {
      padding: 10px;
    }

    .card-body {
      padding: 10px;
    }

    .card {
      margin-bottom: 10px;
    }
  }