<div id="contentLogIn">
    <div id="column">
        <div id="imagen">
            <div id="label">
                <label>Inicia Sesión</label>
            </div>
            <img src="https://img.freepik.com/vector-gratis/fondo-acuarela_220290-34.jpg" alt="">
        </div>
    </div>
    <div id="column2">
        <div id="botones">
            <button>NOM</button>
            <button>&#64;</button>
            <button>XXXX</button>
            <button>REGISTRAR</button>
        </div>
    </div>
</div>