
section{
  background-color: #EFC88B;
}

span{
color: black;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
width: 100%;
}
#fondoImg{
background-image: url("../../../assets/images/cosechado-vista-manos-mecanografia-computadora_1262-3196.jpg");
background-position: 80% 20%;
z-index: 10
}
#backgroundTransparente{
background-color: rgba(255, 255, 255, 0.55);
}
#fondoImg, #card{
border: 2.5px solid white;
border-radius: 2px;
}
#card{
background-color: #BBDEF0;
}

.blue{
color: #00a6a6;
}