#contentLogIn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    margin-top: calc(3.5% + 80px);
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
#column{
    z-index: 3;
    width: 65%;
    height: 100%;
    text-align: center;
}
#column2{
    z-index: 3;
    width: 30%;
    height: 100%;
    text-align: center;
    background-color: #F4E3B2;
    border: 5px solid #fcd9712f;
    box-shadow: 0px 0px 4px 0 #F4E3B2;
    border-radius: 10px;
}
#imagen{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 5%;
}
#imagen img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
#label{
    position: absolute;
    color: black;
    font-size: x-large;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.644);
}
#botones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
#botones button{
    border: 1.5px solid black;
    margin: 2%;
    padding: 2%;
    width: 30%;
    font-weight: 700;
    border-radius: 4px;
    background-color: #BBDEF0;
}
@media (max-width: 900px){
    #botones button{
        font-size: small;
        width: 40%;
    }
    #column,#column2{
        width: 80%;
        height: 50%;
        margin: 5% 10%;
    }
    #imagen{
        margin: 0%;
    }
    #contentLogIn{
        flex-direction: column;
        justify-content: start;
        align-items: center;
        min-height: 100vh;
        max-height: 100vh;
    }
}
@media (max-width: 450px){
    label{
        font-size: large;
    }
    #contentLogIn{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        min-height: 100vh;
        max-height: 100vh;
    }
    #column,#column2{
        margin: 0% 10%;
    }
    #column2{
        margin-top: -60%;
    }
    #column{
        margin-top: -30%;
    }
}
@media (max-width: 310px){
    label{
        font-size: medium;
    }
    #botones button{
        font-size: x-small;
        width: 50%;
    }
    #column,#column2{
        margin: 0% 10%;
    }
    #column2{
        margin-top: -180%;
    }
    #column{
        margin-top: -90%;
    }
}